html {
  scroll-behavior: smooth;
}

body {
    background: #002;
    font-family: 'Inconsolata', sans-serif;
    color: #fff;
    text-transform: lowercase;
}
a {
    color: #0f0;
    font-size: .9em;
    font-weight: 700;
    text-decoration: none;
}
section h1 {
    font-size: 36px;
    margin-top: 0px;
    padding-top: 30px;
}
#content {
    padding: 0 20px 30px;
    margin: 0 auto;
    max-width: 800px
}
section {
    margin-bottom: 50px;
}
section.social {
    margin-bottom: 0;
}
nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 30px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,32,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,32,1);
    box-shadow: 0px 2px 5px 0px rgba(0,0,32,1);
    background: rgba(0,0,32,1);
    z-index: 1;
}
nav ul.menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
    height: 30px;
    align-items: center;    
}

nav ul.menu li {
    text-align: center;
}

nav ul.menu a {
    margin: 0 5px;
    font-size: 1.3em;
    font-weight: normal;
}

.projects {
    padding: 0 10px;
}
.project {
    margin-bottom: 75px;
}
.project p {
    margin-top: -10px;
}
h2 + small {
    position: relative;
    top: -20px;
    font-size: .8em;
}
.gallery {
    max-width: 650px;
    text-align: center;
    margin: 0 auto;
}

.gallery .item {
    max-width: 300px;
    display: inline-block;
    margin: 10px;
    width: 100%;
}

.gallery .item.double {
    max-width: 630px;
}

.gallery .item img, .gallery .item video, .gallery .item iframe {
    width: 100%;
    vertical-align: middle;
}
.na {
    text-decoration: line-through;
    color: #aaa;
}
footer {
    text-align: center;
    height: 30px;
}

.hidden {
	display: none;
}
.xray .hidden {
	display: revert;
}
.xray .x-hidden {
	display: none;
}

#expand-skills {
	color: #0f0;
	font-size: .5em;
	position: relative;
	bottom: .2em;
	left: -.5em;
}

#expand-skills:hover {
	cursor: pointer;
	text-decoration: underline;
}